<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulário de cadastro de Notícia</title>
		</head>
	<body>

		<h1>Adicionar notícia</h1>
		<form action="/noticias/cadastrar" method="post">
			<div>
				<label for="">Título</label>
				<input type="text" id="titulo" name="titulo" />
			</div>
			<div>
				<label for="">Texto da Notícia</label>
				<textarea id="texto" name="texto"></textarea>
			</div>
			<div>
				<input type="submit" value="Cadastrar" />
			</div>
		</form>
	</body>
</html>