<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8" />
	<title>Notícia - <%= noticia.titulo %></title>
</head>

<body>

	<a href="../../noticias/">Voltar</a>

	<h1><%= noticia.titulo %></h1>

	<p>
		<%= noticia.texto %>
	</p>

</body>

</html>