<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8" />
	<title>Notícias</title>
</head>

<body>
	<h1>Notícias</h1>
	<a href="/noticias/cadastro">Cadastrar Notícia</a>	
	<table>
		<thead>
			<tr>
				<th>Título</th>
				<th>Texto</th>
				<th>Link</th>
			</tr>
		</thead>
		<tbody>

			<% for( var i = 0; i < noticias.length; i++) { %>
				<tr>
					<td>
						<%= noticias[i].titulo %>
					</td>
					<td>
						<%= noticias[i].texto %>
					</td>
					<td>
						<a href="/noticias/detalhes/<%= noticias[i].id %>">Visualizar</a>
					</td>
				</tr>
			<% } %>
			
		</tbody>
	</table>

</body>

</html>